;  Main + Development = Specific Commit pin.
;  Integration = Latest everywhere to integrate it into the project.

[submodule "nexus"]
	path = external/nexus
	url = https://github.com/LordMartron94/Nexus
[submodule "blaze"]
	path = external/blaze
	url = https://github.com/LordMartron94/Blaze
